{% extends 'base.html' %}

{% block content %}

<h1>Sign Up</h1>
<div class="col-lg-5 shadow mx-auto p-0">
    <div class="alert alert-success">
        <h2>Create Account</h2>
    </div>
    <div class="p-4">
        <form method="post">
            {% csrf_token %}
            
            <label for="username">Username:</label>
            <input type="text" id="username" name="username" required>
            <label for="phone_number">Phone Number:</label>
            <input type="text" id="phone_number" name="phone_number" required>
            <button type="submit" class="btn btn-info">Sign Up</button>
            <a href="/pass-signup"><br>Sign up with Password</a>
        </form>
    </div>

</div>

{% endblock %}
